.chip{
  color:#121212;
  padding:8px 16px;
  background:white;
  border-radius: 16px;
  font-family: sans-serif;
  font-weight: bold;
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  
  opacity:0;
}
.chip.hover{
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  transition-delay: 1s;
  opacity: 1;
}
.anchor{
  margin-left:361px;
  flex:1;
  border:solid 1px white;
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  
  opacity:0;
}
.anchor.hover{
  transition-delay: 1s;
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  opacity: 0.5;
}
.decomposable {
  position: absolute;
  width: 600px;
  height: 300px;
  display: inline-flex;
  align-items: center;
}
.decomposable:hover {
  animation-delay: 1s;
  transition-delay: 1s;
}
@keyframes twist1 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(250px);
  }
}
.decomposable:nth-of-type(1) {
  margin: auto auto;
  animation: 1.5s twist1 cubic-bezier(0.85, 0, 0.15, 1) reverse;
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  animation-delay: 0.3s;
  transition-delay: 0.3s;
  transform: translateY(0px);
}

.decomposable:nth-of-type(1).hover {
  animation: 1.5s twist1 cubic-bezier(0.85, 0, 0.15, 1);
  transform: translateY(250px);
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
}
@keyframes twist2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(125px);
  }
}
.decomposable:nth-of-type(2) {
  margin: auto auto;
  animation: 1.5s twist2 cubic-bezier(0.85, 0, 0.15, 1) reverse;
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  animation-delay: 0.2s;
  transition-delay: 0.2s;
}

.decomposable:nth-of-type(2).hover {
  animation: 1.5s twist2 cubic-bezier(0.85, 0, 0.15, 1);
  transform: translateY(125px);
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.decomposable:nth-of-type(3) {
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  animation-delay: 0.1s;
  transition-delay: 0.1s;
}
.decomposable:nth-of-type(3).hover {
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
}
@keyframes twist4 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-125px);
  }
}
.decomposable:nth-of-type(4) {
  animation: 1.5s twist4 cubic-bezier(0.85, 0, 0.15, 1) reverse;
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  transform: translateY(0px);
}
.decomposable:nth-of-type(4).hover {
  animation: 1.5s twist4 cubic-bezier(0.85, 0, 0.15, 1);
  transform: translateY(-125px);
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
}
@keyframes twist5 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-250px);
  }
}
.decomposable:nth-of-type(5) {
  animation: 1.5s twist5 cubic-bezier(0.85, 0, 0.15, 1) reverse;
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
  border: dashed 1px transparent;
}
.decomposable:nth-of-type(5).hover {
  animation: 1.5s twist5 cubic-bezier(0.85, 0, 0.15, 1);
  transform: translateY(-250px);
  transition: all 1.5s cubic-bezier(0.85, 0, 0.15, 1);
}
.title {
  font-size: 18px;
  font-weight: bold;
}
